﻿@model Student3MVC.Models.StudentViewModel 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    <div>
        <p>@Model.StudentPersonalInfo.Name @Model.StudentPersonalInfo.Surname, @Model.StudentPersonalInfo.Age </p>
        <p>@Model.StudentEducationInfo.University, @Model.StudentEducationInfo.Faculty, @Model.StudentEducationInfo.Department, @Model.StudentEducationInfo.Degree, @Model.StudentEducationInfo.Major</p>
        <p>@Model.StudentContactInfo.PhoneNumber, @Model.StudentContactInfo.EmailAddress</p>
    </div>
}
