﻿@using Student3MVC.Models
@model List<StudentViewModel>

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    foreach (StudentViewModel student in Model)
            {
                <div>
                    <p>Student Name: @student.StudentPersonalInfo.Name</p>
                    <p>Student Major: @student.StudentEducationInfo.Major</p>
                    <p>Student Email: @student.StudentContactInfo.EmailAddress</p>
                    <a asp-action="Details" asp-route-id="@student.Id">Details</a>
                </div>
            }

<form>
    <label for="id">Id:</label>
    <input type="text" id="id" name="id" required><br><br>

    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>

    <label for="age">Age:</label>
    <input type="number" id="age" name="age" required><br><br>

    <label for="major">Major:</label>
    <input type="text" id="major" name="major" required><br><br>

    <input asp-controller="Create" asp-action="Index" type="submit" value="Create">
</form>
}
